.fab-scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #272343;
    color: white;
    border: none;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    font-size: 1.4rem;
    cursor: pointer;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

.fab-scroll-top:hover {
    background-color: #4a47a3;
    transform: scale(1.1);
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .fab-scroll-top {
        scale: 0.8;
        bottom: 30px;
            right: 15px;
    }
   
}